<% layout('../layouts/boilerplate') %> 
<section class="intro">
  <div class="intro-text">
  <h2>Manten en orden las prioridades!</h2>
  <p>Ordena tus tareas por orden prioritario para saber a que tarea se le da más importancia o necesita una mayor atención.</p>
  <a href="/mylists"><button>Empieza ahora</button></a>
  </div>
  <figure>
    <img src="/images/banner.jpg" alt="imagen de introduccion">
  </figure>
</section>

<div class="desc">
<a href="#about"><h2 class="mas">Descubre mas</h2></a>
<a href="#about"><img src="/images/flecha.png" alt=""></a>
</div>

<section class="about" id="about">
  <h2>Sobre nosotros</h2>
  <p class="desc-p">Con MyPrioList podras crear y editar listas en cualquier momento!</p>
  <div class="about-info">

      <img src="/images/about.png" alt="acerca de" id="about-img">

    <article>
      <h3>Organiza tus proyectos</h3>
      <p>Una de las ventajas de tener una lista de tareas es que puedes organizar lo que verdaderamente tiene urgencia y que puede esperar. Con tu lista plasmada, tienes el control de decidir a qué le darás prioridad y que puedes posponer. </p>
    </article>
  </div>

  <div class="about-info">
  <article>
    <h3>Organiza tus Compras</h3>
    <p>podrás planificar mejor tus compras, revisar tu despensa y nevera para ver qué es lo que necesitas y ahorrar tiempo y dinero. Si además aprovechas para cocinar solo un día a la semana, estarás optimizando todos tus recursos.</p>
  </article>
  <img src="/images/Compras.jpg" alt="acerca de" id="about-img">
</div>
</section>
  