<% layout('../layouts/boilerplate') %>
<form action="/login" method="POST">
  <div>
    <label for="username">Nombre de usuario</label>
    <input
      type="text"
      name="username"
      id="username"
      required
      placeholder="username"
    />
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      minlength="6"
      maxlength="30"
      placeholder="Contraseña"
    />
  </div>
  <button>Log In</button>
</form>
<a href="/singup">Registrarse</a>
