<% layout('../layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/edit.css" />
<section class="edit">
  <a href="/mylists">&lt; Regresar a mi listas</a>
  <h2>Crear Nueva Lista</h2>
    <form action="/mylists" method="post" class="edit-form">

      <div>
        <label for="lnombre">Nombre de la lista</label>
        <input
          type="text"
          name="dtlista[nombre]"
          id="lnombre"
          required
          placeholder="Nombre de la lista"
        />
      </div>

      <div>
        <label for="ldesc">Descripcion</label>
        <textarea
          name="dtlista[descripcion]"
          id="ldesc"
          cols="30"
          rows="1"
          placeholder="Descripcion de la lista"
        ></textarea>
      </div>

      <button>Crear Nueva lista</button>
    </form>
  </section>
