<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nueva tareas</title>
  </head>
  <body>
    <h1>Agregar nueva tarea</h1>
    <form action="/mylists/<%= lista2._id%>" method="post">
      <div>
        <label for="lnombre">Nombre de la Tarea</label>
        <input
          type="text"
          name="dttarea[nombre]"
          id="lnombre"
          required
          placeholder="Nombre de la lista"
        />
      </div>
      <div>
        <label for="ldesc">Descripcion</label>
        <br />
        <textarea
          name="dttarea[descripcion]"
          id="ldesc"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div>
        <label for="lprio">Prioridad</label>
        <select name="dttarea[prioridad]" id="lprio">
          <% for(let categoria of prio){ %>
          <option value="<%= categoria%>" %>><%= categoria%></option>
          <% } %>
        </select>
      </div>
      <button>Agregar Tarea</button>
    </form>
  </body>
</html>
