<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>INFOOOOO</h1>
    <h2><%= lista2.nombre %></h2>
    <h3>Prioridad: <%= lista2.prioridad %></h3>
    <p><%= lista2.descripcion %></p>
    <form action="/mylists/<%= lista2._id%>?_method=DELETE" method="POST">
      <button>Borrar Lista!</button>
    </form>
    <a href="/mylists">regresar a mis lista</a>
  </body>
</html>
