<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPrioList</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <header>
        <a href="/home"><h1>MyPrioList</h1></a>
        <nav class="nav-header">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#footer">Info</a></li>
                <li><a href="">Get Started</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <%- body %> 
    </main>
    <footer id="footer">
        <nav class="contact">
            <h2>Contact me</h2>
            <ul>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/yunier-yau-258302251/">Yunier Yau</a></li>
                <li>Github: <a href="https://github.com/Yyauw">Yyauw</a></li>
                <li>Email: <a href="">yauyunier@gmail.com</a></li>
            </ul>
        </nav>
        <section>
        <p>MyPrioList &copy;</p>
        <p>Create and elaborated by Yunier Yau</p>
        </section>
    </footer>
</body>
</html>
