
.edit{
    margin: 1% 5%;
    width: 500px;
    border-radius: 5px;
    padding: 5px;

}

.edit h2{
    padding: 10px 10px 0px 10px;
    font-size: 30px;
    color: #4db9d4;
}

.edit a{
    margin-top: 20px;
    margin: 10px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.edit-form div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.edit-form div label{
    color: gray;
}

.edit-form div input{
    border: none;
    padding: 4px;
    border-bottom: 1px solid gray;
    transition: 0.5s padding;
}

.edit-form div input:focus{
    outline: none;
    padding: 10px;
}

.edit-form div textarea{
    border: none;
    border-bottom: 1px solid gray;
    transition: 0.5s padding;
}

.edit-form div textarea:focus{
    outline: none;
    padding: 10px;

}

.edit-form button{
    margin-top: 15px;
    margin-left: 175px;
    background-color: #20a520;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
}

.edit-form button:hover{
    background-color: #028b02;
    cursor: pointer;
}

.edit a:hover{
    text-decoration: underline;
}

.edit-form select{
    margin-top: 3px;
    font-size: 15px;
    color: gray;
    border: none;
    border-bottom: 1px solid gray;
}

.edit-form select:focus{
    outline: none;
}

@media (max-width: 550px){
    .edit{
        margin: 2.5%;
        width: 95%;
    }

    .edit-form button{
        margin-left: 33%;
    }
}